.game {
    display:flex;
    flex-direction:row;
    justify-content: space-between;

}
h1 {
    text-align: center;
    font-family: 'Spectral SC', serif;
}
h2 {
    text-align:center;
    font-family: 'Spectral SC', serif;
}
p{
    font-family: 'Spectral SC', serif;
}
#input {
    margin-left:4%;
}
#user {
    height:100px;
    width:100px;
}
#Com {
    height:100px;
    width:100px;
}
